* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
  }

body {
  background: #E5E5E5;
}

h1 {
  font-family: 'Archivo', sans-serif;
  weigth: bold;
}

form, p {
  font-family: 'Poppins', sans-serif;
  weigth: regular;
}

p {
  color: #42D3FF;
}